integration:
  json-schema:
    url: http://localhost:${wiremock.server.port}/api-json-schema
  party:
    url: http://localhost:${wiremock.server.port}/api-party
spring:
  cloud:
    openfeign:
      cache:
        enabled: false
  cache:
    type: none
  datasource:
    driver-class-name: org.testcontainers.jdbc.ContainerDatabaseDriver
    url: jdbc:tc:mariadb:10.6:///ittest
  flyway:
    enabled: true
  jpa:
    properties:
      jakarta:
        persistence:
          schema-generation:
            database:
              action: validate
  security:
    oauth2:
      client:
        provider:
          json-schema:
            token-uri: http://localhost:${wiremock.server.port}/api-gateway/token
          party:
            token-uri: http://localhost:${wiremock.server.port}/api-gateway/token
          pr3import-messaging:
            token-uri: http://localhost:${wiremock.server.port}/api-gateway/token
        registration:
          json-schema:
            client-id: the-client-id
            client-secret: the-client-secret
          party:
            client-id: the-client-id
            client-secret: the-client-secret
          pr3import-messaging:
            client-id: the-client-id
            client-secret: the-client-secret
pr3import:
  enabled: false
  static-asset-info:
    origin: someOrigin
    type: someType
    description: someDescription
  messaging-integration:
    url: api-messaging-url
  senders:
    2260:
      name: someName
      email: someEmail
