integration:
  party:
    connectTimeout: 10
    readTimeout: 20
    url: api-party-url
spring:
  cache:
    type: none
  datasource:
    driver-class-name: org.testcontainers.jdbc.ContainerDatabaseDriver
    url: jdbc:tc:mariadb:10.6:///junittest
  jpa:
    properties:
      hibernate:
        format_sql: true
        hbm2ddl:
          schema-generation:
            script:
              append: false
      jakarta:
        persistence:
          schema-generation:
            create-source: metadata
            database:
              action: update
            scripts:
              action: create
              create-target: target/database/generated-schema.sql
  security:
    oauth2:
      client:
        provider:
          party:
            token-uri: api-gateway-url
        registration:
          party:
            client-id: client-id
            client-secret: client-secret
pr3import:
  static-asset-info:
    origin: someOrigin
    type: someType
    description: someDescription
    municipality-id: someMunicipalityId
  messaging-integration:
    url: api-messaging-url
    oauth2:
      token-uri: api-gateway-url
      client-id: client-id
      client-secret: client-secret
      grant-type: client_credentials
  senders:
    2260:
      name: someName
      email: someEmail
