body {
    margin-top: 50px;
}
.spinner {
    width: 32px;
    height: 32px;
    border: 8px solid;
    border-color: #888 transparent #888 transparent;
    border-radius: 50%;
    animation: spin 1.2s linear infinite;
    display: none;
    vertical-align: bottom;
    margin-left: 25px;
}
@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}
